<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--
  <link id="code-theme" rel="stylesheet" href="/highlight/styles/tokyo-night-dark.min.css">
-->


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <title>Beautiful CSS</title>
  <meta name="description" content="Beautifull CSS Home page">
</head>

<body class="dotted-grey" style="display: none">



  <div class="sticky-top p-2 w-100 light-bg-red dark-bg-blue border-2 block border-bottom box-border" style="align-content: baseline;">
    <div class="grid">
      <div class="h-flex-start">
        <img src="/images/logo.png" class="h-32">
        <b class="h-32 ml-2 text-lg v-flex-center logo-font text-no-wrap">Beautiful CSS</b>
      </div>
      <div class="text-center">
        <div class="h-32 v-flex-center inline-block">
          <div>
            <span id="btn-theme-light"><i class="fa-solid fa-sun"></i>&nbsp;</span>
            <span id="btn-theme-system"><i class="fa-solid fa-display"></i>&nbsp;</span>
            <span id="btn-theme-dark"><i class="fa-solid fa-moon "></i></span>
          </div>
        </div>
      </div>
      <div class="text-end h-32 v-flex-center">end</div>
    </div>

  </div>


  <div id="main" class=" mx-4 mb-7 pt-7">




    <h1>Classic Dark</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend nisl metus, nec venenatis sapien
      efficitur vitae. Fusce vel lobortis sapien, a aliquet risus. Integer at porttitor dolor, viverra maximus mauris.
      Vivamus egestas erat auctor aliquam congue. Praesent vel ultricies nibh. Integer lorem diam, mollis venenatis
      pulvinar non, egestas id leo. Duis sed lectus sollicitudin, commodo sem vitae, iaculis dui. Orci varius natoque
      penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec pharetra arcu diam, sit amet accumsan
      dolor finibus in. Donec euismod, elit cursus lobortis laoreet, erat diam laoreet neque, at fringilla tortor ante
      sit amet justo. Proin ac risus vestibulum, laoreet leo ut, faucibus dui. Maecenas a risus turpis. Donec id dapibus
      lectus, eu commodo augue. Suspendisse tristique ligula ac nibh mattis venenatis. Nunc elementum augue sit amet
      porta feugiat. Integer commodo, odio sit amet sodales porttitor, turpis sem blandit purus, non imperdiet felis
      felis a purus.</p>


    <div class="masonry-1 masonry-sm-2 masonry-md-2 masonry-lg-3 masonry-xl-4 masonry-xxl-5 masonry-gap-6 mt-6">


      <!--<script>
        /*-->
      <%- include cards/headers.ejs %>
      <%- include cards/typography.ejs %>
      <%- include cards/text-colors.ejs %>
      <%- include cards/background-colors.ejs %>      
      <%- include cards/text-alignment.ejs %>
      <%- include cards/font-size.ejs %>
      <%- include cards/margins.ejs %>
      <%- include cards/paddings.ejs %>
      <%- include cards/buttons.ejs %>
      <%- include cards/outline-buttons.ejs %>
      <%- include cards/button-size.ejs %>
      <%- include cards/disabled-buttons.ejs %>
      <%- include cards/button-style.ejs %>
      <%- include cards/form.ejs %>
      <%- include cards/form-styling.ejs %>

      <div class="card">
        <div class="header">
          <h2>Input Groups</h2>
        </div>
        <div class="body">
          <div class="input-group mb-4 mt-2">
            <span class="input-group-text" id="basic-addon1">@</span>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username"
              aria-describedby="basic-addon1">
          </div>

          <div class="input-group mb-4 rounded-pill">
            <button class="btn-grey"><i class="fa-solid fa-magnifying-glass fa-flip-horizontal"></i></button>
            <input type="text" class="form-control" placeholder="Search" aria-label="Search"
              aria-describedby="basic-addon1">
            <button class="btn-grey"><i class="fa-solid fa-xmark"></i></button>
          </div>

          <div class="input-group mb-4 rounded-pill">
            <button class="btn-orange"><i class="fa-solid fa-magnifying-glass fa-flip-horizontal"></i></button>
            <input type="text" class="form-control bg-orange-lighter-5" placeholder="Search" aria-label="Search"
              aria-describedby="basic-addon1">
            <button class="btn-orange"><i class="fa-solid fa-xmark hover:scale-105"></i></button>
          </div>

        </div>
        <div class="footer align-right">
          <button class="btn-green">&lt;code&gt;</button>
        </div>
      </div>


      <%- include cards/border-size.ejs %>
      <%- include cards/border-style.ejs %>
      <%- include cards/border-additive.ejs %>
      <%- include cards/radius.ejs %>
      <%- include cards/card-with-header.ejs %>
      <%- include cards/card-with-image.ejs %>







      <!-- Grid -->
      <div class="card">
        <div class="header">
          <h2>Grid</h2>
        </div>
        <div class="body grid">
          <div class="card text-center hover:scale-105">1</div>
          <div class="card text-center hover:scale-105">2</div>
          <div class="card text-center hover:scale-105">3</div>
          <div class="card text-center hover:scale-105">4</div>
        </div>
        <div class="footer align-right">
          <button class="btn-green">&lt;code&gt;</button>
        </div>
      </div>


      <%- include cards/horizontal-flex.ejs %>
      <%- include cards/vertical-flex.ejs %>
      <%- include cards/scale.ejs %>
      <%- include cards/rotation.ejs %>



      <!-- Cursor -->
      <div class="card">
        <div class="header">
          <h2>Cursor</h2>
        </div>
        <div class="body">
          <div class="card mb-3 text-center cursor-pointer">Pointer</div>
          <div class="card mb-3 text-center cursor-wait">Wait</div>
          <div class="card mb-3 text-center cursor-text">text</div>
          <div class="card mb-3 text-center cursor-help">Help</div>
          <div class="card mb-3 text-center cursor-crosshair">Crosshair</div>
          <div class="card mb-3 text-center cursor-not-allowed">Not allowed</div>
          <div class="card mb-3 text-center cursor-zoom-in">Zoom in</div>
          <div class="card mb-3 text-center cursor-zoom-out">Zoom out</div>
          <div class="card mb-3 text-center cursor-grab">Grab</div>
          <div class="card mb-3 text-center cursor-default">Default</div>
          <div class="card mb-3 text-center cursor-auto">Auto</div>
        </div>
        <div class="footer align-right">
          <button class="btn-green">&lt;code&gt;</button>
        </div>
      </div>


      <!-- Masonry -->
      <div class="card">
        <div class="header">
          <h2>Masonry</h2>
        </div>
        <div class="body">

          <div class="masonry-4 masonry-gap-3">
            <div class="text-center rounded hover:scale-105 ratio-9x16 bg-blue">1</div>
            <div class="text-center rounded hover:scale-105 ratio-1x1 bg-green">2</div>
            <div class="text-center rounded hover:scale-105 ratio-16x9 bg-dark-grey">3</div>
            <div class="text-center rounded hover:scale-105 ratio-1x1 bg-green">4</div>
            <div class="text-center rounded hover:scale-105 ratio-16x9 bg-dark-grey">5</div>
            <div class="text-center rounded hover:scale-105 ratio-1x1 bg-green">6</div>
            <div class="text-center rounded hover:scale-105 ratio-16x9 bg-dark-grey">7</div>
            <div class="text-center rounded hover:scale-105 ratio-16x9 bg-dark-grey">8</div>
            <div class="text-center rounded hover:scale-105 ratio-9x16 bg-blue">9</div>
            <div class="text-center rounded hover:scale-105 ratio-1x1 bg-green">10</div>
            <div class="text-center rounded hover:scale-105 ratio-1x1 bg-green">11</div>
            <div class="text-center rounded hover:scale-105 ratio-16x9 bg-dark-grey">12</div>
            <div class="text-center rounded hover:scale-105 ratio-9x16 bg-blue">13</div>
            <div class="text-center rounded hover:scale-105 ratio-16x9 bg-dark-grey">14</div>
          </div>
        </div>
        <div class="footer align-right">
          <button class="btn-green">&lt;code&gt;</button>
        </div>
      </div>




      <!-- Code -->
      <div class="card">
        <div class="header">
          <h2>Code</h2>
        </div>
        <div class="body">

          <pre><code class="rounded language-js">// JavaScript

function add(a, b) {
  return a + b;
}

console.log(add(2, 3));
</code></pre>

          <pre><code class="language-css rounded">/* CSS */
  
p { color: red }</code></pre>


          <pre><code class="language-python rounded"># Python

adj = ["red", "big", "tasty"]
fruits = ["apple", "banana"]
          
for x in adj:
  for y in fruits:
    print(x, y)</code></pre>
        </div>
        <div class="footer align-right">
          <button class="btn-green">&lt;code&gt;</button>
        </div>


      </div>

      <!-- Stripes -->
      <div class="card">
        <div class="header">
          <h2>Stripes</h2>
        </div>
        <div class="body text-center text-black">
          <div class="rounded hover:scale-105 p-4 m-3 stripes-red ">Red stripes</div>
          <div class="rounded hover:scale-105 p-4 m-3 stripes-orange">Orange stripes</div>
          <div class="rounded hover:scale-105 p-4 m-3 stripes-yellow">Yellow stripes</div>
          <div class="rounded hover:scale-105 p-4 m-3 stripes-green">Green stripes</div>
          <div class="rounded hover:scale-105 p-4 m-3 stripes-blue">Blue stripes</div>
          <div class="rounded hover:scale-105 p-4 m-3 stripes-purple">Purple stripes</div>
          <div class="rounded hover:scale-105 p-4 m-3 stripes-dark-grey text-white ">Dark grey stripes</div>
          <div class="rounded hover:scale-105 p-4 m-3 stripes-light-grey">Light grey stripes</div>
          <div class="rounded hover:scale-105 p-4 m-3 stripes-grey text-black-white">Grey stripes</div>
          <div class="rounded hover:scale-105 p-4 m-3 stripes-negative-grey text-white-black">Negative grey stripes
          </div>
        </div>
        <div class="footer align-right">
          <button class="btn-green">&lt;code&gt;</button>
        </div>
      </div>

      <!-- Hatches -->
      <div class="card">
        <div class="header">
          <h2>Hatches</h2>
        </div>
        <div class="body text-center text-black-white">
          <div class="rounded hover:scale-105 p-4 m-3 hatching-red ">Red hatching</div>
          <div class="rounded hover:scale-105 p-4 m-3 hatching-orange">Orange hatching</div>
          <div class="rounded hover:scale-105 p-4 m-3 hatching-yellow">Yellow hatching</div>
          <div class="rounded hover:scale-105 p-4 m-3 hatching-green">Green hatching</div>
          <div class="rounded hover:scale-105 p-4 m-3 hatching-blue">Blue hatching</div>
          <div class="rounded hover:scale-105 p-4 m-3 hatching-purple">Purple hatching</div>
          <div class="rounded hover:scale-105 p-4 m-3 hatching-dark-grey">Dark Grey hatching</div>
          <div class="rounded hover:scale-105 p-4 m-3 hatching-light-grey">Light Grey hatching</div>
          <div class="rounded hover:scale-105 p-4 m-3 hatching-grey">Grey hatching</div>
          <div class="rounded hover:scale-105 p-4 m-3 hatching-negative-grey">Negative Grey hatching</div>
        </div>
        <div class="footer align-right">
          <button class="btn-green">&lt;code&gt;</button>
        </div>
      </div>


      <!-- Dotted Grid -->
      <div class="card">
        <div class="header">
          <h2>Dotted Grid</h2>
        </div>
        <div class="body text-center text-black-white">
          <div class="rounded hover:scale-105 p-4 m-3 border border-red dotted-red ">Red dots</div>
          <div class="rounded hover:scale-105 p-4 m-3 border border-orange dotted-orange">Orange dots</div>
          <div class="rounded hover:scale-105 p-4 m-3 border border-yellow dotted-yellow">Yellow dots</div>
          <div class="rounded hover:scale-105 p-4 m-3 border border-green dotted-green">Green dots</div>
          <div class="rounded hover:scale-105 p-4 m-3 border border-blue dotted-blue">Blue dots</div>
          <div class="rounded hover:scale-105 p-4 m-3 border border-purple dotted-purple">Purple dots</div>
          <div class="rounded hover:scale-105 p-4 m-3 border border-dark-grey dotted-dark-grey">Dark Grey dots</div>
          <div class="rounded hover:scale-105 p-4 m-3 border border-light-grey dotted-light-grey">Light Grey dots
          </div>
          <div class="rounded hover:scale-105 p-4 m-3 border border-grey dotted-grey">Grey dots</div>
          <div class="rounded hover:scale-105 p-4 m-3 border border-negative-grey dotted-negative-grey">Negative dots
          </div>
        </div>
        <div class="footer align-right">
          <button class="btn-green">&lt;code&gt;</button>
        </div>
      </div>


      <!-- Aspect Ratio -->
      <div class="card">
        <div class="header">
          <h2>Aspect Ratio</h2>
        </div>
        <div class="body grid grid-gap-3 text-center">
          <div class="border-negative-grey bg-grey rounded hover:scale-105 ratio-16x9">
            16/9
          </div>
          <div class="border-negative-grey bg-grey rounded hover:scale-105 ratio-1x1">
            1/1
          </div>
          <div class="border-negative-grey bg-grey rounded hover:scale-105 ratio-9x16">
            9/16
          </div>
        </div>
        <div class="footer align-right">
          <button class="btn-green">&lt;code&gt;</button>
        </div>
      </div>



      <!-- Aspect Ratio -->
      <div class="card">
        <div class="header">
          <h2>Greyscale</h2>
        </div>
        <div class="body text-center">
          <img class="w-100 mb-3 rounded hover:scale-105 greyscale-100 hover:greyscale-0" src="/images/color-image.jpg">
          <img class="w-100 mb-3 rounded hover:scale-105 greyscale-75 hover:greyscale-0" src="/images/color-image.jpg">
          <img class="w-100 mb-3 rounded hover:scale-105 greyscale-50 hover:greyscale-0" src="/images/color-image.jpg">
          <img class="w-100 mb-3 rounded hover:scale-105 greyscale-25 hover:greyscale-0" src="/images/color-image.jpg">
          <img class="w-100 mb-3 rounded hover:scale-105 greyscale-0 hover:greyscale-0" src="/images/color-image.jpg">
        </div>
        <div class="footer align-right">
          <button class="btn-green">&lt;code&gt;</button>
        </div>
      </div>


      <!-- Color Gradient -->
      <div class="card">
        <div class="header ">
          <h2>Color Palette</h2>
        </div>
        <div class="body px-1">
          <div class="grid gap-0">
            <div class="ratio-1x1 hover:scale-150 p-1 bg-yellow-50"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-yellow-100"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-yellow-200"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-yellow-300"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-yellow-400"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-yellow-500"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-yellow-600"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-yellow-700"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-yellow-800"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-yellow-900"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-yellow-950"></div>
          </div>
          <div class="grid gap-0">
            <div class="ratio-1x1 hover:scale-150 p-1 bg-orange-50"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-orange-100"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-orange-200"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-orange-300"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-orange-400"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-orange-500"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-orange-600"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-orange-700"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-orange-800"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-orange-900"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-orange-950"></div>
          </div>
          <div class="grid gap-0">
            <div class="ratio-1x1 hover:scale-150 p-1 bg-red-50"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-red-100"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-red-200"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-red-300"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-red-400"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-red-500"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-red-600"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-red-700"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-red-800"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-red-900"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-red-950"></div>
          </div>

          <div class="grid gap-0">
            <div class="ratio-1x1 hover:scale-150 p-1 bg-magenta-50"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-magenta-100"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-magenta-200"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-magenta-300"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-magenta-400"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-magenta-500"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-magenta-600"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-magenta-700"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-magenta-800"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-magenta-900"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-magenta-950"></div>
          </div>

          <div class="grid gap-0">
            <div class="ratio-1x1 hover:scale-150 p-1 bg-violet-50"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-violet-100"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-violet-200"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-violet-300"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-violet-400"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-violet-500"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-violet-600"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-violet-700"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-violet-800"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-violet-900"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-violet-950"></div>
          </div>
          <div class="grid gap-0">
            <div class="ratio-1x1 hover:scale-150 p-1 bg-blue-50"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-blue-100"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-blue-200"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-blue-300"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-blue-400"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-blue-500"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-blue-600"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-blue-700"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-blue-800"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-blue-900"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-blue-950"></div>
          </div>
          <div class="grid gap-0">
            <div class="ratio-1x1 hover:scale-150 p-1 bg-cyan-50"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-cyan-100"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-cyan-200"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-cyan-300"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-cyan-400"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-cyan-500"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-cyan-600"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-cyan-700"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-cyan-800"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-cyan-900"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-cyan-950"></div>
          </div>
          <div class="grid gap-0">
            <div class="ratio-1x1 hover:scale-150 p-1 bg-green-50"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-green-100"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-green-200"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-green-300"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-green-400"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-green-500"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-green-600"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-green-700"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-green-800"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-green-900"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-green-950"></div>
          </div>
          <div class="grid gap-0">
            <div class="ratio-1x1 hover:scale-150 p-1 bg-grey-50"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-grey-100"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-grey-200"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-grey-300"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-grey-400"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-grey-500"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-grey-600"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-grey-700"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-grey-800"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-grey-900"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-grey-950"></div>
          </div>
          <div class="grid gap-0">
            <div class="ratio-1x1 hover:scale-150 p-1 bg-black-50"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-black-100"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-black-200"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-black-300"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-black-400"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-black-500"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-black-600"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-black-700"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-black-800"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-black-900"></div>
            <div class="ratio-1x1 hover:scale-150 p-1 bg-black-950"></div>
          </div>
        </div>
        <div class="footer align-right">
          <button class="btn-green">&lt;code&gt;</button>
        </div>
      </div>
    </div> <!-- end of masonry -->

</body>

</html>