<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <link rel="stylesheet" href="/css/classic.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <title>Beautiful CSS</title>
  <meta name="description" content="Beautifull CSS Home page">
</head>


<body class="dotted-white-800 dark:dotted-black-400 h-100vh overflow-hidden v-flex-start" style="display: none">


  <div class="p-2 light:bg-grey-200 dark:bg-black-400 border-bottom-1 light:border-grey-600 dark:border-grey-800">
    <div class="grid">
      <div class="v-flex-center">
        <div class="h-flex-start">
          <img src="/images/logo.png" class="h-32px">
          <b class="h-32px ml-2 text-lg logo-font text-no-wrap d-none d-md-block">Beautiful CSS</b>
        </div>
      </div>
      <div class="grow-1 h-flex-center">
        <div class="light:bg-white-300 dark:bg-black-100 w-fit p-2 rounded-pill">
          <button class="btn-blue btn-xs rounded-pill px-3" id="btn-color-scheme-light"><i
              class="fa-solid fa-sun"></i><span class="ml-2 d-none d-md-inline-block"> light</span></button>
          <button class="btn-blue btn-xs rounded-pill px-3 active" id="btn-color-scheme-system"><i
              class="fa-solid fa-display"></i><span class="ml-2 d-none d-md-inline-block"> system</span></button>
          <button class="btn-blue btn-xs rounded-pill px-3" id="btn-color-scheme-dark"><i
              class="fa-solid fa-moon"></i><span class="ml-2 d-none d-md-inline-block"> dark</span></button>
        </div>
      </div>
      <div class="text-end h-32 v-flex-center">end</div>
    </div>
  </div>





  <div id="main" class="p-3 grow-1 overflow-y-auto">

    <h1>Classic Dark</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend nisl metus, nec venenatis sapien
      efficitur vitae. Fusce vel lobortis sapien, a aliquet risus. Integer at porttitor dolor, viverra maximus mauris.
      Vivamus egestas erat auctor aliquam congue. Praesent vel ultricies nibh. Integer lorem diam, mollis venenatis
      pulvinar non, egestas id leo. Duis sed lectus sollicitudin, commodo sem vitae, iaculis dui. Orci varius natoque
      penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec pharetra arcu diam, sit amet accumsan
      dolor finibus in. Donec euismod, elit cursus lobortis laoreet, erat diam laoreet neque, at fringilla tortor ante
      sit amet justo. Proin ac risus vestibulum, laoreet leo ut, faucibus dui. Maecenas a risus turpis. Donec id dapibus
      lectus, eu commodo augue. Suspendisse tristique ligula ac nibh mattis venenatis. Nunc elementum augue sit amet
      porta feugiat. Integer commodo, odio sit amet sodales porttitor, turpis sem blandit purus, non imperdiet felis
      felis a purus.</p>


    <div class="masonry-1 masonry-sm-2 masonry-md-2 masonry-lg-3 masonry-xl-4 masonry-xxl-5 masonry-gap-6 mt-6">



      <!-- Modal -->
      <div class="card">
        <div class="header">
          <h2>Modal</h2>
        </div>
        <div class="body v-flex-center gap-3">
          <!-- <button class="btn-purple w-100 mb-3" btfcss-modal-target="simple-modal">Open modal</button>           -->
          <button class="btn-purple btn-lg" btfcss-modal-target="simple-modal">Launch demo modal</button>
          <button class="btn-purple btn-lg" btfcss-modal-target="no-animation-modal">No animation</button>
          <button class="btn-purple btn-lg" btfcss-modal-target="blurred-modal">No blur</button>
          <button class="btn-purple btn-lg" btfcss-modal-target="long-content-modal">Long content</button>
        </div>
        <div class="footer align-right">
          <button class="btn-blue">&lt;code&gt;</button>
        </div>
      </div>




      <dialog id="simple-modal" class="modal" popover>
        <div class="modal-content">
          <header>
            <h2 class="mt-0">Modal Example</h2>
          </header>
          <div>
            Whoa There, Cowboy!
            <button class="btn-purple btn-lg" btfcss-modal-target="long-content-modal">Long content</button>
          </div>
          <footer class="align-right">
            <button class="btn-blue" btfcss-modal-close="simple-modal">Close</button>
          </footer>
        </div>
      </dialog>


      <dialog id="no-animation-modal" aria-modal="true" class="modal no-animation" popover>
        <div class="modal-content">
          <header>
            <h2 class="mt-0">Without animation</h2>
          </header>
          <div>
            This overlay should be displayed without animation.
          </div>
          <footer class="align-right">
            <button class="btn-blue" btfcss-modal-close="no-animation-modal">Close</button>
          </footer>
        </div>
      </dialog>


      <dialog id="blurred-modal" class="modal no-blur" popover>
        <div class="modal-content">
          <header>
            <h2 class="mt-0">Blurred Overlay</h2>
          </header>
          <div>
            Overlay should be displayed without blur.
          </div>
          <footer class="align-right">
            <button class="btn-blue" btfcss-modal-close="blurred-modal">Close</button>
          </footer>
        </div>
      </dialog>

      <dialog id="long-content-modal" aria-modal="true" class="modal overflow-y-hidden" popover>
        <div class="overflow-y-auto">
          <div class="modal-content">
            <header>
              <h2 class="mt-0">Long content</h2>
            </header>
            <div>
              <p class="handwritten text-lg">I will not talk in class I will not talk in class</p>
              <p class="handwritten text-lg">I will not talk in class I will not talk in class</p>
              <p class="handwritten text-lg">I will not talk in class I will not talk in class</p>
              <p class="handwritten text-lg">I will not talk in class I will not talk in class</p>
              <p class="handwritten text-lg">I will not talk in class I will not talk in class</p>
              <p class="handwritten text-lg">I will not talk in class I will not talk in class</p>
              <p class="handwritten text-lg">I will not talk in class I will not talk in class</p>
              <p class="handwritten text-lg">I will not talk in class I will not talk in class</p>
              <p class="handwritten text-lg">I will not talk in class I will not talk in class</p>
              <p class="handwritten text-lg">I will not talk in class I will not talk in class</p>
              <p class="handwritten text-lg">I will not talk in class I will not talk in class</p>
              <p class="handwritten text-lg">I will not talk in class I will not talk in class</p>
              <p class="handwritten text-lg">I will not talk in class I will not talk in class</p>
              <p class="handwritten text-lg">I will not talk in class I will not talk in class</p>
              <p class="handwritten text-lg">I will not talk in class I will not talk in class</p>
              <p class="handwritten text-lg">I will not talk in class I will not talk in class</p>
              <p class="handwritten text-lg">I will not talk in class I will not talk in class</p>
              <p class="handwritten text-lg">I will not talk in class I will not talk in class</p>
              <p class="handwritten text-lg">I will not talk in class I will not talk in class</p>
              <p class="handwritten text-lg">I will not talk in class I will not talk in class</p>
              <p class="handwritten text-lg">I will not talk in class I will not talk in class</p>
              <p class="handwritten text-lg">I will not talk in class I will not talk in class</p>
              <p class="handwritten text-lg">I will not talk in class I will not talk in class</p>
              <p class="handwritten text-lg">I will not talk in class I will not talk in class</p>


            </div>
            <footer class="align-right">
              <button class="btn-blue" btfcss-modal-close="long-content-modal">Close</button>
            </footer>
          </div>
        </div>
      </dialog>

      <!-- Grid -->
      <div class="card">
        <div class="header">
          <h2>Grid</h2>
        </div>
        <div class="body grid">
          <div class="rounded-3 border p-4 text-center hover:scale-105">1
          </div>
          <div class="rounded-3 border p-4 text-center hover:scale-105">2
          </div>
          <div class="rounded-3 border p-4 text-center hover:scale-105">3
          </div>
          <div class="rounded-3 border p-4 text-center hover:scale-105">4
          </div>
        </div>
        <div class="footer align-right">
          <button class="btn-blue">&lt;code&gt;</button>
        </div>
      </div>

      <%- include cards/headers.ejs %>
      <%- include cards/typography.ejs %>

      <% /* %>
      <%- include cards/text-colors.ejs %>
      <%- include cards/background-colors.ejs %>
      <%- include cards/text-alignment.ejs %>
      <%- include cards/font-size.ejs %>
      <%- include cards/margins.ejs %>
      <%- include cards/paddings.ejs %>
      <%- include cards/buttons.ejs %>
      <%- include cards/button-disabled.ejs %>
      <%- include cards/buttons-active.ejs %>
      <%- include cards/button-size.ejs %>
      <%- include cards/button-style.ejs %>
      <%- include cards/form.ejs %>
      <%- include cards/form-styling.ejs %>
      <%- include cards/input-groups.ejs %>
      <%- include cards/border-colors.ejs %>
      <%- include cards/border-size.ejs %>
      <%- include cards/border-side.ejs %>
      <%- include cards/border-style.ejs %>
      <%- include cards/rounded.ejs %>
      <%- include cards/card-with-header.ejs %>
      <%- include cards/card-with-image.ejs %>
      <% */ %>






      <!-- Modals -->
      <div class="card">
        <div class="header">
          <h2>Grid</h2>
        </div>
        <div class="body grid">
          <div class="rounded-3 border p-4 text-center hover:scale-105">1
          </div>
          <div class="rounded-3 border p-4 text-center hover:scale-105">2
          </div>
          <div class="rounded-3 border p-4 text-center hover:scale-105">3
          </div>
          <div class="rounded-3 border p-4 text-center hover:scale-105">4
          </div>
        </div>
        <div class="footer align-right">
          <button class="btn-blue">&lt;code&gt;</button>
        </div>
      </div>

      <% /* %>
      <%- include cards/horizontal-flex.ejs %>
      <%- include cards/vertical-flex.ejs %>
      <%- include cards/scale.ejs %>
      <%- include cards/rotation.ejs %>
      <%- include cards/cursor.ejs %>

      <% */ %>


      <!-- Masonry -->
      <div class="card">
        <div class="header">
          <h2>Masonry</h2>
        </div>
        <div class="body">

          <div class="masonry-4 masonry-gap-3">
            <div class="text-center rounded hover:scale-105 ratio-9x16 bg-blue">
              1</div>
            <div class="text-center rounded hover:scale-105 ratio-1x1 bg-cyan">
              2</div>
            <div class="text-center rounded hover:scale-105 ratio-16x9 bg-green">
              3</div>
            <div class="text-center rounded hover:scale-105 ratio-1x1 bg-cyan">
              4</div>
            <div class="text-center rounded hover:scale-105 ratio-16x9 bg-green">
              5</div>
            <div class="text-center rounded hover:scale-105 ratio-1x1 bg-cyan">
              6</div>
            <div class="text-center rounded hover:scale-105 ratio-16x9 bg-green">
              7</div>
            <div class="text-center rounded hover:scale-105 ratio-16x9 bg-green">
              8</div>
            <div class="text-center rounded hover:scale-105 ratio-9x16 bg-blue">
              9</div>
            <div class="text-center rounded hover:scale-105 ratio-1x1 bg-cyan">
              10</div>
            <div class="text-center rounded hover:scale-105 ratio-1x1 bg-cyan">
              11</div>
            <div class="text-center rounded hover:scale-105 ratio-16x9 bg-green">
              12</div>
            <div class="text-center rounded hover:scale-105 ratio-9x16 bg-blue">
              13</div>
            <div class="text-center rounded hover:scale-105 ratio-16x9 bg-green">
              14</div>
          </div>
        </div>
        <div class="footer align-right">
          <button class="btn-blue">&lt;code&gt;</button>
        </div>
      </div>




      <%- include cards/code.ejs %>
      <%- include cards/stripes.ejs %>
      <%- include cards/hatching.ejs %>
      <%- include cards/dotted.ejs %>
      <%- include cards/aspect-ratio.ejs %>
      <%- include cards/greyscale.ejs %>
      <%- include cards/palette.ejs %>


    </div> <!-- end of masonry -->

  </div> <!-- end of main -->


</body>

</html>