<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <link rel="stylesheet" href="/css/classic.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <title>Beautiful CSS</title>
  <meta name="description" content="Beautifull CSS Home page">
</head>


<body class="dotted-white-500 dark:dotted-black-400 h-100vh overflow-hidden v-flex-start" style="display: none">


  <div class="p-2 light:bg-grey-200 dark:bg-black-400 border-bottom-1 light:border-grey-600 dark:border-grey-800">
    <div class="grid">
      <div class="v-flex-center">
        <div class="h-flex-start">
          <img src="/images/logo.png" class="h-32px">
          <b class="h-32px ml-2 fs-3xl logo-font text-no-wrap d-none d-md-block">Beautiful CSS</b>
        </div>
      </div>
      <div class="grow-1 h-flex-center">
        <div class="light:bg-white-300 dark:bg-black-100 w-fit p-2 rounded-pill text-no-wrap">
          <button class="btn-blue btn-xs rounded-pill px-3" id="btn-color-scheme-light"><i
              class="fa-solid fa-sun"></i><span class="ml-2 d-none d-md-inline-block"> light</span></button>
          <button class="btn-blue btn-xs rounded-pill px-3 active" id="btn-color-scheme-system"><i
              class="fa-solid fa-display"></i><span class="ml-2 d-none d-md-inline-block"> system</span></button>
          <button class="btn-blue btn-xs rounded-pill px-3" id="btn-color-scheme-dark"><i
              class="fa-solid fa-moon"></i><span class="ml-2 d-none d-md-inline-block"> dark</span></button>
        </div>
      </div>
      <div class="text-end h-32 v-flex-center"> </div>
    </div>
  </div>





  <div id="main" class="p-3 grow-1 overflow-y-auto">
    <div class="text-center">
      <h1>Classic Dark</h1>

      <p class="w-max-lg mx-auto fs-lg color-red">Beautiful CSS is currently in beta—not recommended for production use.
      </p>

      <p class="w-max-lg mx-auto fs-lg">Beautiful CSS is a lightweight, pure CSS framework designed for rapid website
        development.
        It offers a clean, modern foundation and comes with built-in support for both light and dark color schemes</p>



      <div class="input-group my-4 rounded-pill w-max-sm mx-auto">
        <span class="input-group-text pl-4 pr-2 mr-0" id="basic-addon1"><i
            class="fa-solid fa-magnifying-glass fa-flip-horizontal"></i></span>
        <input id="search-text" type="text" class="form-control" placeholder="Search" aria-label="Search"
          aria-describedby="basic-addon1">
        <button id="search-clear" class="btn-grey px-3">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>

    </div>

    <div id="no-search-result" class="text-center mt-6 d-none">
      <i class="fa-regular fa-face-sad-tear fs-6xl"></i>
      <h3 class="mt-4">Hmm… nothing matched your search.</h3>
      <p>Try a different keyword or check for typos.</p>
    </div>

    <div id="masonry"
      class="masonry-1 masonry-sm-2 masonry-md-2 masonry-lg-3 masonry-xl-4 masonry-xxl-5 masonry-gap-6 mt-6">



      <%- include cards/headings.ejs %>
      <%- include cards/typography.ejs %>
      <%- include cards/text-colors.ejs %>
      <%- include cards/background-colors.ejs %>


      <div id="background-opacity" class="card">
        <div class="header">
          <h2>Background Opacity</h2>
        </div>
        <div class="body text-center">
          <div class="rounded hover:scale-105 p-4 m-3 rounded-2 bg-red bg-opacity-0">0%</div>
          <div class="rounded hover:scale-105 p-4 m-3 rounded-2 bg-red bg-opacity-10">10%</div>
          <div class="rounded hover:scale-105 p-4 m-3 rounded-2 bg-red bg-opacity-20">20%</div>
          <div class="rounded hover:scale-105 p-4 m-3 rounded-2 bg-red bg-opacity-30">30%</div>
          <div class="rounded hover:scale-105 p-4 m-3 rounded-2 bg-red bg-opacity-40">40%</div>
          <div class="rounded hover:scale-105 p-4 m-3 rounded-2 bg-red bg-opacity-50">50%</div>
          <div class="rounded hover:scale-105 p-4 m-3 rounded-2 bg-red bg-opacity-60">60%</div>
          <div class="rounded hover:scale-105 p-4 m-3 rounded-2 bg-red bg-opacity-70">70%</div>
          <div class="rounded hover:scale-105 p-4 m-3 rounded-2 bg-red bg-opacity-80">80%</div>
          <div class="rounded hover:scale-105 p-4 m-3 rounded-2 bg-red bg-opacity-90">90%</div>
          <div class="rounded hover:scale-105 p-4 m-3 rounded-2 bg-red bg-opacity-100">100%</div>
        </div>
        <div class="footer align-right">
          <button class="btn-blue" data-open-modal="documentation-modal"
            data-documentation="background-colors">&lt;code&gt;</button>
        </div>
      </div>

      <%- include cards/text-alignment.ejs %>
      <%- include cards/blockquote.ejs %>
      <%- include cards/font-size.ejs %>
      <%- include cards/list.ejs %>
      <%- include cards/margins.ejs %>
      <%- include cards/paddings.ejs %>
      <%- include cards/table.ejs %>
      <%- include cards/buttons.ejs %>
      <%- include cards/button-disabled.ejs %>
      <%- include cards/buttons-active.ejs %>
      <%- include cards/button-size.ejs %>
      <%- include cards/button-style.ejs %>
      <%- include cards/form.ejs %>
      <%- include cards/form-styling.ejs %>
      <%- include cards/input-groups.ejs %>
      <%- include cards/border-colors.ejs %>
      <%- include cards/border-size.ejs %>
      <%- include cards/border-side.ejs %>
      <%- include cards/border-style.ejs %>
      <%- include cards/rounded.ejs %>
      <%- include cards/card-with-header.ejs %>
      <%- include cards/card-with-image.ejs %>
      <%- include cards/modal.ejs %>
      <%- include cards/horizontal-grid.ejs %>
      <%- include cards/vertical-grid.ejs %>
      <%- include cards/horizontal-flex.ejs %>
      <%- include cards/vertical-flex.ejs %>
      <%- include cards/scale.ejs %>
      <%- include cards/rotation.ejs %>
      <%- include cards/cursor.ejs %>
      <%- include cards/masonry.ejs %>
      <%- include cards/code.ejs %>
      <%- include cards/stroke.ejs %>
      <%- include cards/stripes.ejs %>
      <%- include cards/hatching.ejs %>
      <%- include cards/dotted.ejs %>
      <%- include cards/aspect-ratio.ejs %>
      <%- include cards/greyscale.ejs %>
      <%- include cards/palette.ejs %>


      <%- include modals/simple-modal.ejs %>
      <%- include modals/no-animation.ejs %>
      <%- include modals/no-blur.ejs %>
      <%- include modals/centered.ejs %>
      <%- include modals/long-content.ejs %>
      <%- include modals/toggle-1.ejs %>
      <%- include modals/toggle-2.ejs %>
      <%- include modals/full-width.ejs %>


      <dialog id="documentation-modal" class="modal" data-close-modal>
        <div class="modal-content">
          <header>
            <h2 class="mt-0"></h2>
          </header>
          <div>

          </div>
          <footer class="align-right">
            <button class="btn-blue" data-close-modal>Close</button>
          </footer>
        </div>
      </dialog>


    </div> <!-- end of masonry -->

  </div> <!-- end of main -->


</body>

</html>